*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body {
    background-color: cornsilk;
    color: darkslategray;
    font-size: 12;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}
.parent{
    position:relative ;
    margin: 40px 60px auto;
    text-align: justify;
    float: left;
    /*top: 20px;*/
    left: 30px;
    padding: 10px;
    
}
input[type=text]:focus {
    border: 2px solid lightsalmon;
    border-radius: 2px;
    width:70% ;
    height: 80%;
    /*i cant use input image the input !!!!!*/
    background-image: url(etc/img4.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 20px;

    position:absolute ;
    top: 100px ;
    left: 40px;
  }
.search{
    font-weight: bolder;
    font-size: 3.1em;
    max-height: 30px;
    max-width: 40px;
    color:greenyellow ;
    position:absolute ;
    top: 40px;
    left: 100px;
    width: 50%;
    /*padding-top: 40px;*/
 

}
.fixed{
    /*padding-bottom: 10px;*/
    position: absolute;
    top:95px;
    left: 100px;

}
.image{
    width: 1030px;
    height: 600;
    display:flex ;
    justify-content: center;
    /*align-items: stretch;*/
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    top: 180px ;
    left: 55px ;
    border: 4px dashed darkblue;
    border-radius: 3px;
}


.nct{
    width:100% ;
    height: 100%;
    display:flex ;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*align-items: center;*/
    border-radius: 3px;

}
